.eventos {
    display: grid;
    gap: 25px;
    padding: 15px;
}

.evento-card {
    background: white;
    padding: 15px;
    border-radius: 10px;
    border-left: 6px solid #2563eb;
}

.acciones a {
    display: inline-block;
    margin-right: 15px;
    color: #2563eb;
    text-decoration: underline;
}