.evento-info {
    padding: 20px;
}

.contadores span {
    margin-right: 15px;
}

.tabs {
    padding: 20px;
}

.tabs input {
    display: none;
}

.tabs label {
    padding: 10px 15px;
    background: #FF8C00;
    margin-right: 5px;
    cursor: pointer;
    border-radius: 5px;
}

#tab1:checked + label,
#tab2:checked + label,
#tab3:checked + label {
    background: #008000;
    color: white;
}

.contenido {
    display: none;
    margin-top: 20px;
}

#tab1:checked ~ #asistentes,
#tab2:checked ~ #ponentes,
#tab3:checked ~ #estadisticas {
    display: block;
}

.item {
    background: white;
    padding: 15px;
    border-radius: 8px;
    margin-bottom: 10px;
}

.item.ponente {
    border-left: 20px solid #0000FF;
}

.grafico-simulado {
    width: 100%;
    height: 200px;
    background: #d4d4d4;
    border-radius: 10px;
    margin-top: 20px;
}